# --- IDE & System ---
.idea/
.vscode/
*.swp
*.iml
IntelliJ\ IDEA\ 2025.3.3/
Thumbs.db
.DS_Store

# --- Backend (SpringBoots) ---
SpringBoots/.gradle/
SpringBoots/build/
SpringBoots/out/
SpringBoots/target/
SpringBoots/.mvn/
SpringBoots/*.jar
SpringBoots/bin/

# --- Frontend (ReactJS) ---
ReactJS/node_modules/
ReactJS/build/
ReactJS/dist/
ReactJS/.env.local
ReactJS/.env.development.local
ReactJS/.env.test.local
ReactJS/.env.production.local

# --- Logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*